.cgpa{
    color:white;
    padding:5px;
    font-weight: bold;
    
    border-radius:7%;
    margin-bottom: 10px;
}
.add-btn{
  border-radius: 100%;
  margin-top:20px;
}
.headings{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
  color:white;
}
.heading-row{
  margin:10px 0px 10px;
}

@media only screen and (max-width: 350px) {
  .headings {
    font-size:0.8rem;
  }
}