.gpaBtn {
  width: 10rem;
  max-width: 200px;
  border-radius: 0%;
  margin-left: 20px;
  margin: 10px;
}
.a {
  color: white;
  font-weight: bold;
}
.main {
  text-align: center;
  padding-top: 10px;
}
.links{
  color:white;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.social-div{
  color:white;
  text-align: center;
  margin-bottom: 90px;
  
  font-size: 1.2rem;
}